<div class="home__container">
	<app-card
		gameCover="assets/GTA5.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PC"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/Far_cry_5.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PC"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/RDR2.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PC"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/Days-gone.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PC"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

